*{
    margin: 30px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .print-area {
    width: 80%;
    margin: 20px auto;
  }
  .print-area .header {
    width: 100%;
    height: 250px;
    background-color: rgb(205, 195, 195);
    display: flex;
    align-items: center;
    position: relative;
  }
  img {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -50px;
    left: 100px;
    border: 5px solid white;
    box-shadow: 3px 3px 10px rgb(235, 224, 224);
  }
  .header-text  {
    text-align: right;
    width: 100%;
    line-height: 5px;
  }
  .header-text a{
    padding-left: 10px;
  }
  .email {
    text-align: right ;
    color: blue;
    text-decoration: underline;
  }
  .desarrollo  {
    margin:180px;
    color: rgb(23, 21, 21);
    line-height: 30px;
  
  }